body {
    font-family: "century gothic";
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 100;
}

.logo {
    color: #fff;
    font-size: 26px;
    line-height: 60px;
       float: left;
    -webkit-animation: appearance 3s ease;
    -o-animation: appearance 3s ease;
    animation: appearance 3s ease;
}
@keyframes appearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: dropping 0.5s ease forwards;
    -o-animation: dropping 0.5s ease forwards;
    animation: dropping 0.5s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2) {
    animation-delay: 0.2s;
}

.menu li:nth-child(3) {
    animation-delay: 0.4s;
}

.menu li:nth-child(4) {
    animation-delay: 0.6s;
}

.menu li:nth-child(5) {
    animation-delay: 0.8s;
}

.menu li:nth-child(6) {
    animation-delay: 1s;
}
.menu li a {
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}


.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e38913;
    transform: scale(1.1);
}

.menu li a:active {
    transform: scale(0.9);
}
.menu li a.active {
    transform: scale(1.1);
    color: #e38913;        
}
main {
    width: 100%;
    height: 1018px;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) no-repeat 90% 100%/auto 85%, url(../img/bachground.jpg) center/cover no-repeat;
}
white_button:visited{
    color: white;
}
@keyframes dropping {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}
.title_container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    margin-top: 130px;
    opacity: 0;
    -webkit-animation: titleround 1s ease forwards;
    -o-animation: titleround 1s ease forwards;
    animation: titleround 1s ease forwards;
    -webkit-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    
}

.title_container h1 {
    font-size: 72px;
    font-weight: 600;
}

.title_container h4 {
    font-size: 32px;
    color: #79818d;
    text-align: center;
    margin-top: 40px
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #79818d;
    background: none;
    border-radius: 5px;
    color: ##79818d;
    font-size: 16px;
    padding: 0px 14px;
    margin: 58px 28px 0px 14px;
    transform: scale(1);
    transition: all 0.3s;
}

.title_container input:hover {
    background: #263244;
    color: white;
}

.title_container input:active {
    transform: scale(0.9);
}
@media ( max-width:991px){
.title_container,.title_container h4,.title_container input{
        color: white;
position: relative;
    z-index: 3;
    }
    .main{
        position: relative;
            }
    .main::after{
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background: rgba(0,0,0,0.5)
    }
}
@keyframes titleround {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}
.about {
    width: 100%;
    height: 720px;
    background: #fff;
    box-shadow: 0px 0px 30px;
}

.h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 108px;
    color: #263244;
}

.img {
    display: block;
    margin: 30px auto 40px auto;
}

.img1 {
    display: block;
    margin: 0px auto 20px auto;
}

.about span {
    font-size: 16px;
    font-weight: 400;
    color: #79818d;
    text-align: left;
}

.about input {
    display: block;
    width: 160px;
    background: url(../img/about_icon.png) no-repeat 3% 50%/auto;
    font-size: 14px;
    color: #79818d;
    border: 2px solid #79818d;
    border-radius: 5px;
    height: 34px;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    transform: scale(1);
    transition: all 0.3s;
}
.about input:hover{
    background:url(../img/about_icon_white.png) no-repeat 3% 50%/auto,#79818d;
    color: white;
}
.about input:active{
    transform: scale(0.9);
}
.skills {
    width: 100%;
    height: 523px;
    background: url(../img/skills.jpg) center/100% no-repeat;
}

.box {
    width: 1162px;
    height: 240px;
    margin: 0px auto;
}

.skill {
    width: auto;
    height: 240px;

}

.skill img {
    display: block;
    margin: 20px auto;
    height: 37px;
}

.skill h4 {
    text-align: center;
    font-size: 16px;
    color: #e38913;
    font-weight: bold;
    padding: 40px 0px 0px 0px;

}

.skill p {
    font-size: 14px;
    color: #263244;
    text-align: center;
    padding: 20px 0px 0px 20px;

}

.cases {
    width: 100%;
    height: 1140px;
    background: #fff;
    text-align: center;
}

.cases span {
    font-size: 12px;
    color: #263244;
    margin-top: 34px;
}
.pic {
    display: block;
    margin: 40px auto;
}

.client {
    width: auto;
    height: 178px;
    color: #263244;
    text-align: left;
    line-height: 28px;
}

.client h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.client h4{
    font-size: 12px;
}
.client input {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    display: block;
    height: 44px;
    width: 201px;
    margin-top: 18px;
    background: url(../img/cases_input.png) no-repeat center/100%;
    transform: scale(1);
    transition: all 0.3s;
}
.client input:hover{
    background: url(../img/cases_input_white.png) no-repeat center/100%;
    color: #63b5ae;
    border-radius: 3px solid #63b5ae;
}
.client input:active{
    transform: scale(0.9);
}

.about_case {
    text-align: left;
    width: auto;
    color: #263244;
    line-height: 20px;
}
.client{
    text-align: left;
}
.about_case p {
    font-size: 16px;
    font-weight: 600;
}
@media(max-width:576px){
    .client, .about_case{
        text-align: center;
    }
    .client input{
        margin: 0px auto;
        margin-top: 18px;
    }
}
.price {
    width: 100%;
    height: 860px;
}

.price h2 {
    color: #263244;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
}

.price form {
    width: 890px;
    height: 430px;
    margin: 60px auto;
}

.price p {
    color: #263244;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.price select {
    color: #737373;
    height: 58px;
    width: 100%;
    background: #eeeeee 58px 100%;
    padding-left: 30px;
    margin: 24px auto 50px auto;
    border-radius: 5px;
}

.price img {
    display: block;
    margin: 0px auto;
}

.calc {
    width: 890px;
    height: 32px;
    color: #263244;
    margin: 0px auto;
}

.calc span {
    text-transform: capitalize;
    font-size: 16px;
    font-size: 600;
    text-align: left;
    padding-top: 15px;
}
.stat {
    height: 499px;
    background: url(../img/stat_bg.jpg) no-repeat center/auto;
    width: 100%;
}

.position {
    height: 240px;
}

.position img {
    display: block;
    margin: 20px auto;
    height: 47px;
}

.position h4 {
    text-align: center;
    font-size: 32px;
    color: #263244;
    font-weight: bold;
    padding-top: 10px;

}

.position p {
    font-size: 14px;
    text-transform: uppercase;
    color: #263244;
    text-align: center;
    padding: 20px 0px 0px 20px;
}

.rewievs {
    width: 100%;
    height: 590px;
    background: #fff;
}

.photo {
    display: block;
    margin: 0px auto;
}

.rewievs p {
    width: 690px;
    height: 40px;
    text-align: center;
    margin: 48px auto 0px auto;
}

.rewievs span {
    font-weight: 600;
}

.bullets {
    width: 72px;
    height: 10px;
    margin: 50px auto;
}

.bullets img {
    display: block;
    float: left;
    padding-right: 7px;
    padding-left: 7px;
}
.bullets img:hover{
    
}
.mycontacts {
    height: 808px;
    width: 100%;
    background: url(../img/footer_bg.jpg) no-repeat center/auto;
    color: #fff;
}

.h2_footer {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 108px;
    color: #fff;
}

.mycontacts p {
    text-align: center;
}

.contacts {
    height: 90px;
    margin: 45px auto 1px auto;
}

.contact {
    height: 90px;
}

.contact img {
    display: block;
    margin: 0px auto;
    height: 24px;
}

.contact p {
    font-size: 12px;
    text-align: center;
    padding-top: 13px;
}
.message{
    margin-top: 20px;
}
.message h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 10px;
    
}

.message form {
    width: 770px;
    height: 170px;
    margin: 0px auto;
}

.message input {

    height: 34px;
    background: rgba(210, 214, 220, 0.9);
}

.message textarea {
    display: block;
    height: 94px;
    background: rgba(210, 214, 220, 0.9);
    margin: 14px auto;
}

[submit=""] {
    display: block;
    width: 125px;
    height: 47px;
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin: 0px auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transform: scale(1);
    transition: all 0.3s;
}
[submit=""]:hover{
background: rgba(210, 214, 220, 0.9);
    color: #263244;
    border: none;
}
[submit=""]:active{
 transform: scale(0.9);
}
.location {
    width: 100%;
    height: 356px;
    background: url(../img/footer_map.png) no-repeat center/auto;
}

footer {
    width: 100%;
    height: 94px;
    background: url(../img/footer_layout.jpg) no-repeat center/auto;
    font-size: 14px;
    color: #fff;
}

footer p {
    text-align: center;
    padding: 30px;
}






.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #2c384a;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
@media(max-width:991px){
     .skills,.stat,.about{
         height: auto;
        background-size: cover;
    }
}